
body {
	background-color: #262626;
	font-family: National;
	color: #fff;

}

img {
	width: 100%;
	padding-top: 45px;
	padding-bottom: 10px;
/*	border: #f00 1px solid;
*/}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


.headers {
	border-bottom: 1px #666 solid;
	padding-bottom: 30px;
	height: 35px;
	box-sizing:border-box;

}

.label {	
	display: block;
	float: left;
	font-weight: 500;
	font-size: 24px;
	padding-bottom: 10px;
	box-sizing:border-box;
}

.box {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.quote-button {
	display: block;
	font-weight: 500;
	font-size: 22px;
	text-transform: uppercase;
	color: #666;
	cursor: pointer;
	float: right;
	box-sizing:border-box;
	margin-top: 2px;
}

.quote-button:hover{
	color: #fff;
}

.source {
	display: block;
	float: left;
	width: 350px;
	border: 1px green solid;
	margin-right: 50px;
}

.source.right {
	display: block;
	float: left;
	width: 350px;
	border: 1px green solid;
	margin: 0;
}

.metadata {
	width: 100%;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300px;
	padding-top: 10px;
}

.metadata-name {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: .5px;
	font-weight: 500;
}
