@font-face {
  font-family: 'National-Light';
  src: url('/fonts/National-Light.eot'); /* IE9 Compat Modes */
  src: url('National-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/National-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/National-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/National-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/National-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'National-LightItalic';
  src: url('/fonts/National-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/National-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/National-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/National-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/National-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/National-LightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'National-Semibold';
  src: url('/fonts/National-Semibold.eot'); /* IE9 Compat Modes */
  src: url('National-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/National-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/National-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/National-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/National-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


html { overflow-y: scroll;}

body {
	background-color: #262626;
	font-family: "National-Light", Arial, sans-serif;
	letter-spacing: .5px;

}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.headers {
	border-bottom: 1px #666 solid;
	padding-bottom: 30px;
	height: 35px;
	box-sizing:border-box;
}

#quote.headers  {
	margin-bottom: 25px;

}

.label {	
	display: block;
	float: left;
	color: #fff;
	font-family: "National-Semibold", Arial, sans-serif;
	font-size: 24px;
	padding-bottom: 10px;
	box-sizing:border-box;
}

.box {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	display: block;
}


.quote-button {
	display: block;
	color: #fff;
	font-family: "National-Semibold", Arial, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	color: #666;
	cursor: pointer;
	float: right;
	box-sizing:border-box;
	margin-top: 2px;
}

.quote-button:hover{
	color: #fff;
}

.letter {
	display: inline-block;
	margin-right: 4px;
	opacity: 0;
	background-size: contain;
}

.letter img {
	width: 100%;
}

.word {
	display: inline-block;
	margin-right: 50px;
	margin-top: 35px;
	/*opacity: 0;*/
/*	display: none;
*/
}

.attribution {
	color: #fff;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 200px;
}

.author {
	opacity: 0;
}

.title {
	opacity: 0;
	font-family: "National-LightItalic", Arial, sans-serif;
}

.date {
	opacity: 0;
}

.grid-item {
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px #666 solid;
}


.metadata {
	color: #dedede;
	width: 300px;
	font-size: 18px;
	line-height: 22px;
	font-family: "National-Light", Arial, sans-serif;
	padding-top: 10px;
}

.source-title, .source-date, .source-collection {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: .5px;
	font-family: "National-Semibold", Arial, sans-serif;
}

.quote-form {
	display: block;
	width: 100%;
	padding: 75px 0px;
/*	border: 1px #f00 solid;
*/	left: 50%;
/*	margin-left: -40px;
*/}

label {
	text-transform: uppercase;
	color: #dedede;
	width: 300px;
	font-size: 18px;
	line-height: 30px;
	font-family: "National-Semibold", Arial, sans-serif;
	letter-spacing: .5px;
	margin-top: 30px;
	display: block;
}

.first-label {
	margin-top: 0px;
	display: block;
}

.textfield {
	width: 600px;
	background-color: #333;
	border: none;
	padding: 10px;
	color: #fff;
}

.form-quote {
	width: 600px;
	height: 75px;
	paddding: 0px 10px 10px 10px;

}

input[type=submit] {
	display: block;
	color: #fff;
	font-family: "National-Semibold", Arial, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	color: #666;
	cursor: pointer;
}


@media only screen and (min-width: 320px) and (max-width: 650px) {
	.label {
		font-size: 20px;
	}

	.quote-button {
		font-size: 18px;
	}

	.word {
		margin-right: 25px;
		margin-top: 20px;
	}
	.letter img {
		max-height: 50px;
		width: auto;
		margin-right: 0px;
		float: left;
	}

	.textfield {
		width: 270px;
	}
}